.containerLogin {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    display: flex;
    overflow: hidden;
}

.blur {
    background-image: url('../../src/assets/images/bg-hd.jpg');
    background-size: cover;
    position: absolute;
    height: calc(100% + 40px);
    width: calc(100% + 40px);
    top: -20px;
    left: -20px;
    filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

/*LOGIN*/

.container--login .MuiCardActions-root {
    justify-content: center;
}

.card--login {
    width: 350px;
    height: 300px;
    padding: 18px 24px;
    margin: 20vh auto 0;
    z-index: 2;
    text-align: center;
}

