/*OVERRIDES*/

#root .MuiAppBar-colorPrimary {
    background-color: #fff;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.blur {
    background-image: url('../src/assets/images/bg-hd.jpg');
    background-size: cover;
    position: absolute;
    height: calc(100% + 40px);
    width: calc(100% + 40px);
    top: -20px;
    left: -20px;
    filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

/*LOGIN*/

.container--login .MuiCardActions-root {
    justify-content: center;
}

.card--login {
    width: 350px;
    height: 300px;
    padding: 18px 24px;
    z-index: 2;
    text-align: center;
}

.card--login .card--login__button--login {
    margin: 0 auto;
}

/*UPLOAD*/

.upload__wrapper {
    min-width: 350px;
    min-height: 550px;
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    display: flex;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.image-placeholder {
    width: 400px;
    margin: 24px auto 0;
    height: 400px;
    border: 1px dashed #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
}

.image-placeholder:hover {
    background-color: #dbdbdb;
    transition: 225ms ease-out;
    cursor: pointer;
}

.upload__wrapper .button--upload-photo {
    position: absolute;
    bottom: 10%;
}

/*.image-placeholder .progress-bar {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    background-color: rgba(255, 255, 255, .8);*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/